<div class="container">
    <div class="page-header">
        <button type="button" class="btn btn-primary pull-right"
                data-ng-click="onAddClick()"
                data-ng-class="{hidden: !session.loggedOn()}">
            Add Post
        </button>
        <h1><i class="fa fa-pencil"></i> BLOG <small>&raquo;contains my scribblings</small></h1>
    </div>

    <div class="row post" data-ng-repeat="p in posts">
        <div class="col-md-2 bg-primary date">
            <h3>{{ p.publishDate.iso | date:'MMM' }}</h3>
            <h1>{{ p.publishDate.iso | date:'d' }}&nbsp;
                <span>{{ p.publishDate.iso | date:'yyyy' }}</span>
            </h1>
        </div>
        <div class="col-md-10">
            <h3>
                <a ui-sref="posts.detail({'id': p.id})">{{ p.title }}</a>
            </h3>
            <p>{{ p.excerpt }}</p>

            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"
                            data-ng-click="onEditClick(p)"
                            data-ng-class="{hidden: !session.loggedOn()}">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger"
                            data-ng-click="onDeleteClick(p)"
                            data-ng-class="{hidden: !session.loggedOn()}">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <a class="btn btn-primary" href="#/posts/{{ p.id }}"
                       role="button">Read more...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>