<configuration>
  <system.webServer>
    <iisnode watchedFiles="*.js;node_modules\*"
        nodeProcessCommandLine="c:\program files\nodejs\node.exe" />

    <handlers>
      <add name="iisnode" path="web.js" verb="*" modules="iisnode" />
    </handlers>
    
    <defaultDocument enabled="true">
      <files>
        <add value="web.js" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>

    	<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
        </rule>  

        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
            <match url="^web.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
            <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            </conditions>
            <action type="Rewrite" url="web.js"/>
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>