<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-dot-circle-o"></i> Edit Cache <small>{{ cache.name }}</small></h1>
    </div>

    <div>
        <form name="frm" role="form" ng-submit="save()">
            <div class="form-group">
                <label class="control-label">Id</label>
                <input type="text" class="form-control" ng-model="cache.cacheId" required autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <select class="form-control"
                        data-ng-model="cache.cacheType"
                        data-ng-options="t for t in cacheTypes">
                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="cache.name" required>
            </div>
            <div class="form-group">
                <label>Coords</label>
                <input type="text" class="form-control" ng-model="cache.coords">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="cache.verifiedCoords"> Verified Coords
                </label>
            </div>
            <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control" rows="3" ng-model="cache.notes"></textarea>
            </div>
            <div class="form-actions pull-right">
                <button class="btn btn-lg btn-default" ng-click="cancel()">Cancel</button>
                <input class="btn btn-lg btn-success" type="submit" ng-disabled="frm.$invalid" value="Save">
            </div>
        </form>
    </div>
</div>