<div class="container">
    <div class="page-header">
        <button type="button" class="btn btn-primary pull-right"
                data-ng-click="vm.onAddClick()"
                data-ng-class="{hidden: !vm.session.loggedOn}">
            New Cheat
        </button>
        <h1><i class="fa fa-dot-circle-o"></i> CHEATS <small>&raquo;geocaching cheats</small></h1>
    </div>

    <div data-ng-if="!vm.session.loggedOn">
        <div class="jumbotron">
            <h1>Sorry <small>:-(</small></h1>
            <p>You need to be logged on to use Cheats.</p>
        </div>
    </div>

    <div data-ng-if="vm.session.loggedOn()">
        <div class="gridStyle" ng-grid="gridOptions"></div>
        <!--table class="table table-striped table-hover">
        <tr>
            <th>Id</th><th>Updated</th><th>Type</th><th>Name</th><th>Municipality</th><th>Coords</th><th>Verified</th>
            <th data-ng-class="{hidden: !session.loggedOn()}">
                Commands
            </th>
        </tr>
        <tr data-ng-repeat="i in items">
            <td><a href="http://coord.info/{{ i.cacheId }}" target="_blank">{{ i.cacheId }}</a></td>
            <td>{{i.updatedAt|date:'yyyy.MM.dd'}}</td>
            <td>{{ i.cacheType }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.municipality }}</td>
            <td>{{ i.coords }}</td>
            <td>{{ i.verifiedCoords }}</td>
            <td data-ng-class="{hidden: !session.loggedOn()}">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"
                            data-ng-click="onEditClick(i)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-ng-click="onDeleteClick(i)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table-->
    </div>
</div>