.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a.navbar-brand > img {
    margin-top: -8px;
}

a.navbar-brand > p.navbar-text {
    margin-top: -1px;
}

body {
    padding-top: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

button.navbar-btn {
    margin-left: 4px;
    margin-right: 8px;
}

footer {
    padding-top: 24px;
    font-size: 75%;
}

.soc-link {
    padding: 14px;
}

.btn-flickr {
    color: #fff;
    background-color: #FF0084;
    border-color: #cc3399;
}
.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active,
.btn-flickr.active {
    color: #fff;
    background-color: #FF0066;
    border-color: #cc3366;
}

.btn-github {
    color: #fff;
    background-color: #171515;
    border-color: #333333;
}
.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-btn-github.active {
    color: #fff;
    background-color: #191717;
    border-color: #bababa;
}

.custom-search-form {
    margin-top:5px;
    margin-bottom: 22px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
    height: 600px;
}

.list-group-item > img {
    margin-right: 12px;
}

.list-group-item > i {
    padding-top: 0.5em;
}


.data-presentation {
    padding: 1em;
}

.data-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}

.data-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.cover-image {
    width: 180px;
    height: 180px;
}

.commands {
    padding-top: 3em;
}

.commands button {
    margin-bottom: 1em;
}