<div class="container">
    <div class="page-header">
        <button type="button" class="btn btn-primary pull-right"
                data-ng-click="onAddClick()"
                data-ng-class="{hidden: !session.loggedOn()}">
            Add Event
        </button>
        <h1><i class="fa fa-flag"></i> Events</h1>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th>Time</th><th>Place</th><th>Name</th><th>Organizer</th>
            <th data-ng-class="{hidden: !session.loggedOn()}">
                Commands
            </th>
        </tr>
        <tr data-ng-repeat="e in events">
            <td>{{ e.get('startTime') | date:'yyyyMMdd HH:mm' }}</td>
            <td>{{ e.get('placeName') }}</td>
            <td>{{ e.get('eventName') }}</td>
            <td>{{ e.get('organizer') }}</td>
            <td data-ng-class="{hidden: !session.loggedOn()}">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary"
                            data-ng-click="onEditClick(e)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-ng-click="onDeleteClick(e)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>