<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-headphones"></i> Edit Book <small>{{ book.title }}</small></h1>
    </div>

    <div data-ng-if="!session.loggedOn()">
        <div class="jumbotron">
            <h1>Sorry!<small>:-(</small></h1>
            <p>You need to be logged on to use this section of the site.</p>
        </div>
    </div>

    <div data-ng-if="session.loggedOn()">
        <form name="frm" role="form">
            <div class="form-group">
                <label class="control-label">Title</label>
                <input type="text" class="form-control" ng-model="book.title">
            </div>
            <div class="form-group">
                <label class="control-label">Subtitle</label>
                <input type="text" class="form-control" ng-model="book.subtitle" >
            </div>
            <div class="form-group">
                <label class="control-label">Author(s)</label>
                <input type="text" class="form-control" ng-model="book.authors" >
            </div>
            <div class="form-group">
                <label class="control-label">Language</label>
                <select class="form-control"
                        data-ng-model="book.lang"
                        data-ng-options="l for l in languages">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Genre</label>
                <select class="form-control"
                        data-ng-model="book.genre"
                        data-ng-options="g for g in genres">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <input type="text" class="form-control" ng-model="book.image" >
            </div>
            <div class="form-actions">
                <button class="btn btn-success" ng-click="save()">Save</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
