<div class="container">
    <div class="page-header">
        <a ng-href="#/books/edit/_new" class="btn btn-default pull-right" ng-class="{hidden: !vm.session.user.loggedOn}">
            <i class="fa fa-plus"></i> Add Book
        </a>
        <h1>
            <i class="fa fa-book"></i> BOOKS <small>&raquo; audiobooks list</small>
        </h1>
    </div>

    <div class="row" style="padding-bottom: 18px;">
        <div class="col-xs-12">
            <form name="frm" class="form-inline" role="form" novalidate>
                <div class="form-group">
                    <select class="form-control" ng-model="vm.currentSearchField" ng-options="s.description for s in vm.searchFields">
                    </select>
                        <input type="text" class="form-control" ng-model="vm.searchKey" placeholder="Search for" required />
                        <button class="btn btn-success" ng-disabled="frm.$invalid" ng-click="vm.search()"><i class="fa fa-search"></i> Find</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" infinite-scroll="vm.scroll()" infinite-scroll-distance="1" infinite-scroll-disabled="vm.fetching">
            <div class="list-group">
                <a class="list-group-item" href="#/books/view/{{i.id}}" data-ng-repeat="i in vm.items">
                    <img class="pull-left img-rounded" ng-src="https://dl.dropboxusercontent.com/u/133963/Images/Books/thumbs/{{ i.get('image') }}.jpg">
                    <i class="pull-right fa  fa-2x fa-chevron-right"></i>
                    <h3 class="list-group-item-heading">{{ i.get('title') }}&nbsp;<small>{{ i.get('subtitle') }}</small></h3>
                    <p class="list-group-item-text">
                        Authors: {{ i.get('authors') }} | Genre: {{ i.get('genre') }} | Language: {{ i.get('lang') }}
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>