<div class="container">
    <div class="page-header">
        <button type="button" class="btn btn-primary pull-right"
                data-ng-click="onAddClick()"
                data-ng-class="{hidden: !session.loggedOn()}">
            New Book
        </button>
        <h1><i class="fa fa-headphones"></i> BOOKS <small>&raquo;contains my audiobook list</small></h1>
    </div>

    <div data-ng-if="!session.loggedOn()">
        <div class="jumbotron">
            <h1>Sorry <small>:-(</small></h1>
            <p>You need to be logged on to use this section of the site.</p>
        </div>
    </div>

    <div data-ng-if="session.loggedOn()">
        <div class="row">
            <div class="col-md-12">
                <ul class="media-list">
            <li class="media" data-ng-repeat="i in items">
                <img class="pull-left media-object img-rounded" ng-src="https://dl.dropboxusercontent.com/u/133963/Images/Books/thumbs/{{ i.image }}.jpg">
                <div class="media-body">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary"
                                data-ng-click="onEditClick(i)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger"
                                data-ng-click="onDeleteClick(i)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <h4 class="media-heading">{{ i.title }}&nbsp;<small>{{ i.subtitle }}</small></h4>
                    <small>Author: {{ i.authors }} | Genre: {{ i.genre }} | Lang: {{ i.lang }}</small>
                </div>
            </li>
        </ul>
            </div>
        </div>
    </div>
</div>