<div class="container">
    <div class="page-header">
        <a href="#/books" class="pull-right btn btn-default"><i class="fa fa-chevron-left"></i> Back</a>
        <h1><i class="fa fa-book"></i> Book <small>{{ vm.book.title }}</small></h1>
    </div>

    <div class="row data-presentation">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-4 col-sm-2 data-title">Title</div>
                <div class="col-xs-8 col-sm-10 data-content">{{ vm.book.title }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2 data-title">Subtitle</div>
                <div class="col-xs-8 col-sm-10 data-content">{{ vm.book.subtitle }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2 data-title">Author(s)</div>
                <div class="col-xs-8 col-sm-10 data-content">{{ vm.book.authors }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2 data-title">Language</div>
                <div class="col-xs-8 col-sm-10 data-content">{{ vm.book.lang }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2 data-title">Category</div>
                <div class="col-xs-8 col-sm-10 data-content">{{ vm.book.genre }}</div>
            </div>
        </div>
        <div class="col-xs-3">
            <img ng-src="https://dl.dropboxusercontent.com/u/133963/Images/Books/{{vm.book.image}}.jpg"
                 class="cover-image img-thumbnail" alt="Cover image">
        </div>
    </div>
    <div class="row commands" ng-class="{hidden: !vm.session.user.loggedOn}">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-1">
            <a href="" class="btn btn-link pull-right" ng-click="vm.delete()">Delete</a>
            <button class="btn btn-default pull-right" ng-click="vm.edit()">
                <i class="fa fa-edit"></i> Edit
            </button>
        </div>
    </div>
</div>
