<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-film"></i> Edit Movie <small>{{ movie.etitle }}</small></h1>
    </div>

    <div data-ng-if="!session.loggedOn()">
        <div class="jumbotron">
            <h1>Sorry!<small>:-(</small></h1>
            <p>You need to be logged on to use this section of the site.</p>
        </div>
    </div>


    <div data-ng-if="session.loggedOn()">
        <form name="frm" role="form">
            <div class="form-group">
                <label class="control-label">Seen</label>
                <input type="text" class="form-control" ng-model="movie.seenAt.iso"
                       name="date"
                       data-date-type="iso"
                       data-date-format="yyyy-MM-dd"
                       bs-datepicker>
                <!--div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="dt"
                           min-date="'1970-01-01'" max-date="'2100-01-01'"
                           is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div-->
            </div>

            <div class="form-group">
                <label class="control-label">Eng. title</label>
                <input type="text" class="form-control" ng-model="movie.etitle">
            </div>
            <div class="form-group">
                <label class="control-label">Orig. title</label>
                <input type="text" class="form-control" ng-model="movie.otitle">
            </div>
            <div class="form-group">
                <label class="control-label">Rating</label>
                <input type="number" class="form-control" name="rating" min="0"
                       max="10" step="0.1" ng-model="movie.rating">
            </div>
            <div class="form-group">
                <label class="control-label">Url</label>
                <input type="url" class="form-control" ng-model="movie.url" >
            </div>
            <div class="form-group">
                <label class="control-label">Picture</label>
                <input type="text" class="form-control" ng-model="movie.pic" >
            </div>
            <div class="form-group">
                <label>Synopsis</label>
                <textarea class="form-control" rows="5" ng-model="movie.synopsis"></textarea>
            </div>
            <div class="form-group">
                <label>Comment</label>
                <textarea class="form-control" rows="2" ng-model="movie.comment"></textarea>
            </div>
            <button class="btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</div>
